// Members: Sass packages configured and forwarded.

@forward 'precolor' with (
    $primary: #6f2799 !default
);
@forward 'presized';

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Font Families:
$display: 'Lobster Two', cursive;
$sans-serif: 'Poppins', sans-serif;

// Z-Index Position:
$z-underlay: -1000 !default;
$z-overlay: 1000 !default;
$z-dropdown: 2000 !default;
$z-sticky: 3000 !default;
$z-fixed: 4000 !default;
$z-backdrop: 5000 !default;
$z-modal: 6000 !default;
$z-popup: 7000 !default;
$z-tooltip: 8000 !default;

// Timing Lengths:
$time-xs: 150ms !default;
$time-sm: 300ms !default;
$time-md: 500ms !default;
$time-lg: 750ms !default;
$time-xl: 1s !default;
$time-xxl: 1.5s !default;