// Emoji Container: Styles for the Emoji selection picker.

@use "members" as *;

.emoji-container {
    display: block;
    width: 100%;
    max-height: $xxl;
    overflow: auto;
    transition: max-height 750ms ease;
    &:not([data-open="true"]) {
        max-height: 0px;
    }
    @include container(emoji-container);
    &-text {
        display: flex;
        flex-flow: row wrap;
        gap: size(-3);
        transition: max-height 500ms ease;
        @include font-size(2);
        & > * {
            flex: 1 1 0px;
            &:last-child {
                flex: 9999 1 0px;
            }
        }
    }
}