// Gif Container: Styles for the GIF selection picker.

@use "members" as *;

.gif-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-height: $xxl;
    gap: size(-3);
    overflow: hidden;
    transition: max-height 500ms ease;
    &:not([data-open="true"]) {
        max-height: 0px;
    }
    @include container(gif-container);
    &-inputs {
        display: flex;
        flex-flow: row wrap;
        gap: inherit;
        flex: 0 0 auto;
        & > * {
            flex: 9999 1 auto;
        }
        .text-field label {
            position: absolute;
            left: -100vw;
        }
        .button {
            flex: 1 0 auto;
        }
    }
    &-images {
        display: grid;
        grid-gap: size(0);
        grid-template-columns: repeat(auto-fit, minmax(min($xs, 100%), 1fr));
        grid-template-rows: masonry;
        align-items: stretch;
        flex: 0 1 auto;
        overflow: auto;
        & > * {
            display: flex;
            width: 100%;
            border-radius: 3px;
            background-color: rgba($gray, 0.25);
            object-fit: contain;
            cursor: pointer;
        }
    }
}