// Home Page: Styles for the application home.

@use 'members' as *;

.home-page {
    position: fixed;
    inset: 0;
    display: flex;
    flex-flow: column nowrap;
    @include container(home-page);
    & > * {
        flex: 0 0 auto;
        overflow: auto;
    }
    .messages {
        min-width: 100%;
        scroll-behavior: smooth;
        flex: 1 1 0px;
        overflow: auto;
    }
    .input-area {
        flex: 0 1 auto;
    }
}
