// Input Area: Area where users can input a server message.

@use "members" as *;

.input-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: size(-3);
    padding: size(0);
    margin: size(0);
    @include color-schemes using ($color) {
        background-color: rgba(color-shift($color, 5%), 0.6);
    }
    & > * {
        flex: 0 0 auto;
    }
    &-label {
        // Screen Reader styling:
        position: absolute;
        left: -100vw;
    }
    &-field {
        display: block;
        flex: 1 1 auto;
        width: $sm;
        min-height: 0px;
        font-size: 1em;
        font-family: $sans-serif;
        border-radius: 0px;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        resize: none;
        overflow: hidden;
        transition: min-height 300ms linear;
        outline: none;
        &:focus {
            min-height: min(20vh, $xs);
            overflow: auto;
            @include breakpoint($lg) {
                min-height: min(3lh, $xs);
            }
        }
    }
    &-controls {
        display: flex;
        justify-content: inherit;
        flex-flow: row wrap;
        align-items: center;
        gap: size(-3);
        margin-bottom: size(-2);
        & > * {
            flex: 1 1 auto;
        }
    }
}