.input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
    border: 2px solid orange;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 0px;
}
