// Login Modal: Styles for the user login modal.

@use 'members' as *;

.login-modal {
    .modal-close {
        display: none;
    }
    fieldset {
        border: none;
        padding: 0;
    }
    &-form {
        overflow: hidden;
    }
    &-fields {
        display: flex;
        flex-flow: row wrap;
        gap: 0 size(-1);
        & > * {
            flex: 1 1 $xs;
        }
    }
}
