// Public Server Modal: Styles for modal to join a public server.

@use "members" as *;

.public-servers {
    &-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: size(0) 0;
        gap: size(-1);
        @include font-size(1);
        img {
            display: block;
            width: 2.5em;
            height: 2.5em;
            border: 2px solid $white;
            border-radius: 9999px;
            object-fit: cover;
            object-position: center;
        }
        span {
            display: none;
            flex: 9999 1 auto;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @include breakpoint($xs) {
                display: block;
            }
        }
        .button {
            flex: 1 0 auto;
        }
    }
}