// Settings Panel: Sidebar drawer containing all app settings.

@use 'members' as *;

.settings-panel {
    h1 {
        display: block;
        flex-basis: 100%;
    }
    &-server, &-user {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: size(0) size(-1);
        margin: size(-3) 0;
        & > * {
            flex: 1 1 $xs;
        }
    }
    &-profile {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
        gap: size(-1);
        flex: 0 1 auto;
    }
    &-pfp {
        display: block;
        width: 3.5em;
        height: 3.5em;
        border-radius: 9999px;
        border: 2px solid $white;
    }
    &-username, &-email {
        display: block;
        line-height: 1.25;
    }
    &-username {
        font-family: $display-alt;
        @include font-size(1);
    }
    &-email {
        font-style: italic;
        @include font-size(-1);
        @include color-schemes using ($color) {
            @include contrast using ($ratio) {
                color: contrast-color($gray, $color, $ratio);
            }
        }
    }
}