// Sidebar: Side drawer for user separated content.

@use "members" as *;

.sidebar {
    position: absolute;
    inset: 0 auto 0 0;
    z-index: 1;
    display: block;
    width: $md;
    backdrop-filter: blur(24px);
    box-shadow: 0 0 8px -4px $black;
    transition: transform 300ms ease;
    overflow: auto;
    @include container(sidebar);
    @include color-schemes using ($color) {
        background-color: rgba($color, 0.66);
    }
    &:not([data-open="true"]) {
        transform: translateX(-100%);
    }
    &.end {
        inset: 0 0 0 auto;
        &:not([data-open="true"]) {
            transform: translateX(100%);
        }
    }
    &-content {
        @include modular-scale(3, padding);
    }
    &-close {
        position: absolute;
        top: 0; right: 0;
        display: block;
        width: 48px;
        height: 48px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:active {
            transform: scale(1.1);
        }
        @include font-size(2);
        @include color-schemes using ($color) {
            @include contrast using ($ratio) {
                color: contrast-color($danger, $color, $ratio);
            }
        }
    }
    &.end &-close {
        right: auto;
        left: 0;
    }
}